<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/indexStyle.css">
    <title>Login</title>
</head>
<body>
<div class="login-container">
    <h2 class="login-h2">Winery</h2>
    <form>
        <input type="email" class="login-input" placeholder="Usuário ou email" >
        <input type="password" class="login-input" placeholder="Senha" >
        <a href="user/listaUsuario.html"><button type="submit" class="login-button">Entrar</button></a>
        <!--<div class="div-main-checkbox">
          <div class="checkbox-container">
            <label>
              <input type="checkbox" name="adminCheckbox">
              Entrar como Administrador
            </label>
          </div>

          <div class="checkbox-container">
            <label>
              <input type="checkbox" name="estoqueCheckbox">
              Entrar como Estoquista
            </label>
          </div>
      </div>-->
    </form>
</div>
</body>
</html>