<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/listaUsuarioStyle.css">
    <title>Lista Usuario</title>
</head>
<body>
    <div class="container">
        <img src="../static/imagens/10.png" alt="">
        <div class="containerHeader">
            <header>
                <nav>
                    <ul>
                        <li><a href="#">Produto</a></li>
                        <li><a href="#">Usuário</a></li>
                    </ul>
                </nav>
                <div class="search-bar">
                    <input type="text" placeholder="Pesquisar...">
                    <button class="buttonSearch">Buscar</button>
                </div>
            </header>
        </div>
    </div>
    <div class="user-list">
        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>
        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>
        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>
        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>
        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>

        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>

        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>
        <div class="user-item">
            <h3>Nome: Jane Smith</h3>
            <p>Email: jane@example.com</p>
            <p>Status: Inativo</p>
            <div class="user-item-buttons">
                <button class="user-item-button-alterar">Alterar</button>
                <button>Inativar</button>
            </div>
        </div>
        

    </div>  
</body>
</html>



