<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winery:: Alterar Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <style>
    .bodyWinery {
            background-image: url('../static/imagens/3.png') !important;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-attachment: fixed !important;
        }
        .corFundo {
            background: linear-gradient(to bottom, #000000, #000000f0);
            border-radius: 14px;
            padding: 15px;
        }
    .fundoDoFormulario {
        background: linear-gradient(to bottom, #000000, #000000f0);
    }

    .endereco{
      background-color: transparent;
      
    }

    .login-button {
        width: 250px;
        padding: 10px;
        background: linear-gradient(to bottom, #4F0599, #7A0707);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        }
  </style>
  <body class="bodyWinery">
    <nav class="navbar navbar-expand-lg bg-body-tertiary corFundo">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Winery">
                <img src="../static/imagens/logoWinery250x250new.png" width="150px" alt="Logo da Winery">
            </a>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
    
                </ul>
    
                <ul class="navbar-nav ml-auto">
    
                    <li class="nav-item ml-auto">
                        <a class="nav-link text-white" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            Carrinho
                        </a>
                    </li>
                   
                    <li class="nav-item ml-auto">
                        <a class="nav-link text-white" href="#" data-bs-toggle="modal" data-bs-target="#alterarClienteModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                              </svg>
                            bellicoth
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container corFundo mt-5">
        <div class="row">
            <div class="col-sm-5">
              <h2 class="text-white text-center mb-3">Alterar Dados</h2>
              
              <form action="">
                <label for="" class="form-label text-white">Nome completo</label>
                <input type="text" class="form-control mb-3" id="">

                <label for="inputGenero" class="form-label text-white">Gênero</label>
                <select id="inputGenero" class="form-select mb-3">
                  <option selected>Masculino</option>
                  <option>Feminino</option>
                </select>

                <label for="" class="form-label text-white">Data de Nascimento</label>
                <input type="date" class="form-control mb-3" id="dataNascimento" name="dataNascimento" required>

                <div class="text-center mt-5">
                <button type="button" class="btn login-button">Alterar</button>
              </div>
              </form>
            </div>
            <div class="col-sm-7 border-start">

              <h2 class="text-white text-center mb-3">Endereços</h2>
            <div class="container">
              <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#enderecoModal">Adicionar Novo Endereço</button>
            </div>
              <div class="container mt-3 border-opacity-75">
                <div class="row">
                  
                  <div class="col mt-3">
                    <div class="card endereco rounded border" style="width: 20rem;">
                      <div class="card-body"> 
                        <div class="d-flex justify-content-between">
                        <h6 class="card-title text-white">Endereço padrão:</h6>
                        <img src="../static/imagens/logoWinery250x250new.png" width="120px" alt="Logo da Winery">
                        </div>
                        <hr class="text-white">
                        <h6 class="text-white">Rua: Xurusbengo do Xurusbago</h6>
                        <h6 class="text-white">Apartamento 22 BL 6</h6>
                        <h6 class="text-white">Jardim Vaz de Lima</h6>
                        <h6 class="text-white">07</h6>
                        <h6 class="text-white">05833-120</h6>
                        <h6 class="text-white">São Paulo - SP</h6>
                        <div class="d-flex justify-content-between">
                          <a href="#" class="card-link">Remover</a>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label text-white" for="flexRadioDefault1">
                                  Definir como padrão
                              </label>
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>

                  <div class="col mt-3">
                    <div class="card endereco rounded border" style="width: 20rem;">
                      <div class="card-body"> 
                        <div class="d-flex justify-content-between">
                        <h6 class="card-title text-white">Endereço padrão:</h6>
                        <img src="../static/imagens/logoWinery250x250new.png" width="120px" alt="Logo da Winery">
                        </div>
                        <hr class="text-white">
                        <h6 class="text-white">Rua: Xurusbengo do Xurusbago</h6>
                        <h6 class="text-white">Apartamento 22 BL 6</h6>
                        <h6 class="text-white">Jardim Vaz de Lima</h6>
                        <h6 class="text-white">07</h6>
                        <h6 class="text-white">05833-120</h6>
                        <h6 class="text-white">São Paulo - SP</h6>
                        <div class="d-flex justify-content-between">
                          <a href="#" class="card-link">Remover</a>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                              <label class="form-check-label text-white" for="flexRadioDefault1">
                                  Definir como padrão
                              </label>
                          </div>
                      </div>
                      </div>
                    </div>
                  </div>
                  
                  
                </div>
               
              </div>
              
            </div>
        </div>
  
    </div>
    
     
    
  

    <div class="modal fade" id="enderecoModal" tabindex="-1" aria-labelledby="enderecoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content fundoDoFormulario">
            <div class="modal-header">
            <h5 class="modal-title text-white" id="enderecoModalLabel">Endereço 2</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
            </div>
            <div class="modal-body">
            <form class="row g-3">
                <div class="col-6">
                    <label for="inputAddress" class="form-label text-white">Endereço</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <div class="col-3">
                      <label for="inputComplemento" class="form-label text-white">Numero</label>
                      <input type="text" class="form-control" id="inputComplemento" placeholder="1234 Main St">
                    </div>
                  <div class="col-3">
                      <label for="inputComplemento" class="form-label text-white">Complemento</label>
                      <input type="text" class="form-control" id="inputComplemento" placeholder="1234 Main St">
                    </div>
                  <div class="col-md-3">
                      <label for="inputBairro" class="form-label text-white">Bairro</label>
                      <input type="text" class="form-control" id="inputBairro">
                    </div>
                  <div class="col-md-3">
                      <label for="inputCEP" class="form-label text-white">CEP</label>
                      <input type="text" class="form-control" id="inputCEP">
                  </div>
                  <div class="col-md-3">
                    <label for="inputCity" class="form-label text-white">Cidade</label>
                    <input type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="col-md-3">
                      <label for="inputEstado" class="form-label text-white">Estado</label>
                      <input type="text" class="form-control" id="inputEstado">
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn login-button">Cadastrar</button>
                    </div>
            </form>
            </div>
        </div>
        </div>
    </div>
    
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>