<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winery:: Cadastro Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <style>
    .bodyWinery {
        background-image: url('https://play.hbomax.com/default-3840x2160.png') !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed !important;
    }
        .corFundo {
            background: linear-gradient(to bottom, #000000, #000000f0);
            border-radius: 14px;
            padding: 15px;
        }
    .fundoDoFormulario {
        background: linear-gradient(to bottom, #000000, #000000f0);
    }
    .position-absolute {
    position: absolute;
    top: 50%; /* Coloca o elemento no centro vertical */
    left: 50%; /* Coloca o elemento no centro horizontal */
    transform: translate(-50%, -50%); /* Move o elemento de volta para cima e para a esquerda pela metade de sua largura e altura */
    align-items: center;
}
#modalMessages {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-danger {
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  </style>
  <body class="bodyWinery">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: transparent !important; margin-right: 15px; margin-left: 15px; padding-top: 20px !important;">
      <div class="container-fluid d-flex justify-content-center">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="">
                Vinhos
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link text-white" href="">
                Vinicolas
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link text-white" href="">
                Espumante
              </a>
            </li>
          </ul>
          
          <a class="navbar-brand" href="/Winery" style="position: absolute; left: 50%; transform: translateX(-50%);">
            <img th:src="@{/imagens/logoWinery250x250new.png}" width="175px" alt="Logo da Winery">
          </a>
    
          <ul class="navbar-nav ml-auto">

            <li class="nav-item ml-auto">
              <a class="nav-link text-white" href="/authentication/login">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-person-fill" viewBox="0 0 16 16">
                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                </svg>
                Entrar
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container mt-5 p-4" style="background-color: #1e1a28; border: 1px !important; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important; border-radius: 14px;">
        <h2 class="text-white">Formulário de Cadastro</h2>
        <form class="row g-3" th:action="@{/Winery/cadastrarCliente}" method="post" th:object="${cliente}" id="formCadastroCliente"  enctype="multipart/form-data">
          <div id="modalMessages" class="position-absolute"></div>
  
          <div class="col-md-6">
                <label for="" class="form-label text-white">Nome completo</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
              </div>
              <div class="col-md-3">
                <label for="inputGenero" class="form-label text-white">Gênero</label>
                <select id="inputGenero" class="form-select">
                  <option selected>Masculino</option>
                  <option>Feminino</option>
                    <option>Nenhum</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="" class="form-label text-white">Data de Nascimento</label>
                <input type="date" class="form-control" id="dataNascimento" name="dataNascimento" required>
              </div>
              <div class="col-md-6">
                <label for="" class="form-label text-white">CPF</label>
                <input type="text" class="form-control" id="cpf" name="cpf" minlength="11" maxlength="11" placeholder="Somente números" required>
              </div>
            <div class="col-md-6">
              <label for="" class="form-label text-white">Email</label>
              <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="col-md-6">
              <label for="" class="form-label text-white">Digite a senha:</label>
              <input type="password" class="form-control" id="senha" name="senha" required>
            </div>
            <div class="col-md-6">
                <label for="" class="form-label text-white">Confirme a senha:</label>
                <input type="password" class="form-control" id="confirmaSenha" name="confirmaSenha" required>
              </div>
            <div class="col-6">
              <label for="" class="form-label text-white">Logradouro</label>
              <input type="text" class="form-control" id="logradouro" name="logradouro" required>
            </div>
            <div class="col-2">
                <label for="" class="form-label text-white">Número</label>
                <input type="text" class="form-control" id="numero" name="numero" required>
              </div>
            <div class="col-4">
                <label for="" class="form-label text-white">Complemento</label>
                <input type="text" class="form-control" id="complemento" name="complemento">
              </div>
            <div class="col-md-4">
                <label for="" class="form-label text-white">Bairro</label>
                <input type="text" class="form-control" id="bairro" name="bairro" required>
              </div>
            <div class="col-md-3">
                <label for="" class="form-label text-white">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep" minlength="8" maxlength="8" placeholder="Somente números" required>
            </div>
            <div class="col-md-1">
                <label for="" class="form-label text-white">UF</label>
                <input type="text" class="form-control" id="uf" name="uf" required>
            </div>
            <div class="col-md-4">
              <label for="" class="form-label text-white">Cidade</label>
              <input type="text" class="form-control" id="cidade" name="cidade" required>
            </div>            
            <div class="col-12 d-flex justify-content-between align-items-center">
              <button type="submit" class="btn btn-success">Cadastrar</button>
              
              <div class="d-flex" justify-content-between align-items-center>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#enderecoModal">Adicionar endereço à parte para entrega</button>
                <button type="button" class="btn btn-outline-info ms-2" data-bs-toggle="popover" data-bs-placement="top"  data-bs-content="O endereço que você preencher no formulário será usado para entrega do produto e faturamento. Caso queira um diferente somente para a entrega, cadastre um endereço à parte.">
                  <span style="font-size: 1.0em;">?</span>
                </button>
              </div>
            </div>
            
          </form>
    </div>
     <div class="modal fade" id="enderecoModal" tabindex="-1" aria-labelledby="enderecoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #2c263a; border: none !important; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;">
            <h5 class="modal-title text-white" id="enderecoModalLabel">Endereço de faturamento</h5>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close" style="background-color: white;"></button>
            </div>
            <div class="modal-body" style="background-color: #2c263a; border: none !important; box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;">
            <form class="row g-3">
                <div class="col-6">
                    <label for="" class="form-label text-white">Logradouro</label>
                    <input type="text" class="form-control" id="inputLogradouro" >
                  </div>
                  <div class="col-2">
                      <label for="" class="form-label text-white">Numero</label>
                      <input type="text" class="form-control" id="inputNumero">
                    </div>
                  <div class="col-4">
                      <label for="" class="form-label text-white">Complemento</label>
                      <input type="text" class="form-control" id="inputComplemento">
                    </div>
                  <div class="col-md-4">
                      <label for="" class="form-label text-white">Bairro</label>
                      <input type="text" class="form-control" id="inputBairro">
                    </div>
                  <div class="col-md-3">
                      <label for="" class="form-label text-white">CEP</label>
                      <input type="text" class="form-control" id="inputCep" placeholder="Somente números" minlength="8" maxlength="8">
                  </div>
                  <div class="col-md-1">
                    <label for="" class="form-label text-white">UF</label>
                    <input type="text" class="form-control" id="inputUf" maxlength="2">
                  </div>
                  <div class="col-md-4">
                    <label for="" class="form-label text-white">Cidade</label>
                    <input type="text" class="form-control" id="inputCidade">
                  </div>
                  <div class="col-12">
                    <button type="button" id="adicionarEnderecoButton" class="btn btn-primary">Adicionar Endereço</button>
                </div>
                
            </form>
            </div>
        </div>
        </div>
    </div>
    
  
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script>




$(document).ready(function () {

var cliente = {
    nome: '',
    genero: '',
    dataNascimento: '',
    cpf: '',
    email: '',
    senha: '',
    confirmaSenha: '',
    enderecos: []
};

$('#adicionarEnderecoButton').on('click', function () {
    var endereco2 = {
        logradouro: $('#inputLogradouro').val(),
        numero: $('#inputNumero').val(),
        complemento: $('#inputComplemento').val(),
        bairro: $('#inputBairro').val(),
        cep: $('#inputCep').val(),
        uf: $('#inputUf').val(),
        cidade: $('#inputCidade').val(),
        idCliente : null,
    };

    cliente.enderecos.push(endereco2);

    // Limpar campos do modal
    $('#inputLogradouro').val('');
    $('#inputNumero').val('');
    $('#inputComplemento').val('');
    $('#inputBairro').val('');
    $('#inputCep').val('');
    $('#inputUf').val('');
    $('#inputCidade').val('');

    // Exibir alerta de sucesso
    alert('Endereço adicionado com sucesso!');

    // Fechar o modal
    $('#enderecoModal').modal('hide');
});


$('#formCadastroCliente').on('submit', function (event) {
    event.preventDefault();

    var clienteData = {
            nome: document.getElementById('nome').value,
            genero: document.getElementById('inputGenero').value,
            dataNascimento: document.getElementById('dataNascimento').value,
            cpf: document.getElementById('cpf').value,
            email: document.getElementById('email').value,
            senha: document.getElementById('senha').value,
            confirmaSenha: document.getElementById('confirmaSenha').value,
            enderecos: cliente.enderecos.slice() // Cria uma cópia do array de endereços
        };

    var endereco1 = {
        logradouro: $('#logradouro').val(),
        numero: $('#numero').val(),
        complemento: $('#complemento').val(),
        bairro: $('#bairro').val(),
        cep: $('#cep').val(),
        uf: $('#uf').val(),
        cidade: $('#cidade').val(),
        idCliente : null,
    };
    clienteData.enderecos.push(endereco1);

  

        console.log(JSON.stringify(clienteData));
        $.ajax({
            type: 'POST',
            url: '/Winery/cadastrarCliente',
            data: JSON.stringify(clienteData),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#modalMessages').empty();

                if (data.startsWith('Sucesso:')) {
                var mensagemSucesso = data.replace('Sucesso: ', '');
                $('#modalMessages').append('<div class="alert alert-success" role="alert">' + mensagemSucesso + '</div>');

                setTimeout(function () {
                    $('#modalMessages .alert').fadeOut('slow', function () {
                        $(this).remove();

                        window.location.reload(true);
                    });
                }, 3500);

                }
            },
            error: function (xhr) {
                $('#modalMessages').empty();

                var mensagemErro = xhr.responseText;
                
                $('#modalMessages').append('<div class="alert alert-danger" role="alert">' + mensagemErro + '</div>');
                setTimeout(function () {
                    $('#modalMessages .alert').fadeOut('slow', function() {
                        $(this).remove();
                    });
                }, 3500);
              }
        });
    });
});



document.addEventListener("DOMContentLoaded", () => {
  addEventListeners();
});

const addEventListeners = () => {
  document
    .getElementById("cep")
    .addEventListener("blur", handleCEPBlur());
  document
    .getElementById("inputCep")
    .addEventListener("blur", handleCEPBlur());
};

const handleCEPBlur = () => (e) => {
  if (e.target.value.length >= 8) {
    var valor = e.target.id.toLowerCase();  // ou toUpperCase()
console.log(valor)
    if (valor.startsWith("input")) {
      fetchAddress2();
    } else {
      fetchAddress();
    }
    
  }
};


const fetchAddress = () => {
  let cep = document.getElementById('cep');
  // let addressFields = document.getElementById(`${prefix}AddressFieldsInfo`);

  fetch(`https://viacep.com.br/ws/${cep.value}/json/`)
    .then((response) => response.json())
    .then((data) => {
      if (data.erro) {
        alert("CEP não encontrado!");
      } else {
        document.getElementById('logradouro').value = data.logradouro;
        document.getElementById('bairro').value = data.bairro;
        document.getElementById('cidade').value = data.localidade;
        document.getElementById('uf').value = data.uf;
      }
    })
    .catch(() => {
      alert("Erro ao buscar o CEP!");
    });
};

const fetchAddress2 = () => {
  let cep = document.getElementById('inputCep');
  // let addressFields = document.getElementById(`${prefix}AddressFieldsInfo`);

  fetch(`https://viacep.com.br/ws/${cep.value}/json/`)
    .then((response) => response.json())
    .then((data) => {
      if (data.erro) {
        alert("CEP não encontrado!");
      } else {
        document.getElementById('inputLogradouro').value = data.logradouro;
        document.getElementById('inputBairro').value = data.bairro;
        document.getElementById('inputCidade').value = data.localidade;
        document.getElementById('inputUf').value = data.uf;
      }
    })
    .catch(() => {
      alert("Erro ao buscar o CEP!");
    });
};

var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
  var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
  });


  </script>
  </body>
</html>