header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}

.containerHeader {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.tituloCadastro {
    color: white;
}

.inputCadastro {
    border-radius: 15px;
    border: none;
    padding: 3px;
    width: 200px;
}

.inputGrupo {
    border-radius: 15px;
    border: none;
    width: 125px;
}

.buttonSearch {
    width: 100px;
    padding: 10px;
    border: 1px;
    border-radius: 14px;
    background: linear-gradient(to bottom, #4F0599, #7A0707);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}

/* Estilo para a seção de imagem de fundo e informações */
.wine-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
}
.comprar{
    width: 100%; /* Defina a largura desejada para os elementos (48% para deixar um espaço mínimo entre eles) */
    padding: 40px;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
}
.content-container{
    display: flex;
    justify-content: space-between; /* Colocar elementos lado a lado */
    align-items: center;
    width: 100%; 
}

.imghome-overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("imagens/telainicial.jpg");
    background-size: cover;
    color: #fff;
    text-align: right;
    flex-direction: column;
}

.wine-info {
   width: 150%;
    /* Ajuste conforme necessário */
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo com opacidade */
    border-radius: 5px;
    margin-left: 0;

}

.wine-info h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.wine-info p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Restante do seu CSS permanece inalterado */


.buy-button {
    background-color: #d14836;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}

.features-section {
    display: flex;
    flex-direction: row;
    width: 100%;    
    background-color: transparent;
    padding: 20px;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.features-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.feature {
    margin: 20px;
    display: inline-block;
}

.feature img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.imghome {
    width: 100%;
    height: calc(100vh - 50px);
    object-fit: cover;
    margin-top: -50px;
}


.purple-gradient-icon {
    background: linear-gradient(to right, white, white);
    -webkit-background-clip: text;
    color: transparent;
}

body,
h1,
h2,
h3,
p,
ul,
li,
div {
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 0;
}

.wine-image {
    margin-bottom: 0;
}

section {
    margin-bottom: 0;
}

footer {
    margin-top: 0;
    margin-bottom: 0;
}

nav {
    margin-bottom: 0;
}

body {
    background-image: url(../imagens/telainicial.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}