body{
    margin: 0;
    background-image: url('../imagens/3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.card {
    border: 1px solid #ddd !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    max-width: 90% !important;
    border-radius: 14px !important;
    margin: 0 auto !important;
    margin-bottom: 30px !important;
    margin-top: 50px !important;
    padding: 10px !important;
    background: linear-gradient(to bottom, #000000, #000000f0) !important;
}

.card-header {
    color: white !important;
    padding: 10px !important;
    text-align: center !important;
}

.table {
    border-collapse: collapse !important;
    width: 100% !important;
}

.table .th, .table td {
    border: 1px solid #ddd !important;
    text-align: left !important;
    font-size: 20px !important;
    padding: 8px !important;
    color: #fff !important;
    background-color: transparent !important;
}



.botoes-div{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.botoes{
    background: transparent !important;
    border-radius: 20px !important;
    outline: none !important;
    border: 4px solid transparent !important;
    border-image: linear-gradient(to bottom, #4F0599, #7A0707) 1 !important;
    color: white !important;
    height: auto !important;
    width: auto !important;
    margin-bottom: 3px !important;
    padding: 1px !important;
    cursor: pointer !important;
    font-size: 15px !important;
}



.table tr:nth-child(even) {
    background: linear-gradient(to bottom, #292929, #202020c5) !important;
}

.table th {
    background: linear-gradient(to bottom, #4F0599, #7A0707) !important;
    color: white;
}
.table button{
    margin-left: 5px !important;
}
/* header {
    background: linear-gradient(to bottom, #000000, #000000f0);
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

nav ul li a:hover {
    border-bottom: 2px solid #fff;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 6px;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
}


.containerHeader {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 25px !important;

} */

.buttonSearch{
    width: 100px;
    padding: 10px;
    border: 1px;
    border-radius: 14px;
    background: linear-gradient(to bottom, #4F0599, #7A0707);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right: 20px;
}


.div-funcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.div-funcoes2 {
    display: flex;
}

.lupa-button {
    background: linear-gradient(to bottom, #4F0599, #7A0707);
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
/* CSS para a classe position-absolute */
.position-absolute {
    position: absolute;
    top: 50%; /* Coloca o elemento no centro vertical */
    left: 50%; /* Coloca o elemento no centro horizontal */
    transform: translate(-50%, -50%); /* Move o elemento de volta para cima e para a esquerda pela metade de sua largura e altura */
}



.botaoNovo{
    border: none;
    color: white;
    width: 200px;
    height: 30px;
    padding: 5px;
    background: linear-gradient(to bottom, #4F0599, #7A0707);
    cursor:pointer;
}

.input-buscar{
    border: none;
}

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box ;
    font-family: 'Inter', sans-serif;
} */


.tituloForm{
    font-style: bold;
    color: white;
}

.containerBoa {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background: linear-gradient(to bottom, #000000, #000000f0);
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.cancelar-button {
    display: flex;
    align-items: center;
}

.cancelar-button button {
    width: 100%;
    border: none;
    background-color: red;
    color: white;
    padding: 0.62rem;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.cancelar-button button:hover {
    background-color: #03021ff1;
}

.cancelar-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background: linear-gradient(to bottom, #4F0599, #7A0707);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
}

.textAreaDescricao {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: white;
    font-size: 0.8rem;
}

.selectGrupo{

    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    color: white;
    font-size: 0.8rem;

}

.optionGrupo{

    background-color: black;
    color: white;
}


.input-box label,
.gender-title h6 {
    font-size: 0.75rem;
    font-weight: 600;
    color: white;
}

.input-box input::placeholder {
    color: white;
}

.textAreaDescricao::placeholder {
    color: white;
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    display: flex;
    align-items: center;
}

.gender-input input {
    margin-right: 0.35rem;
}

.gender-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}

.cadastrar-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background: linear-gradient(to bottom, #4F0599, #7A0707);
    color: white;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.cadastrar-button button:hover {
    background-color: yellow;
}


@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
        margin: auto;
        height: 80%;

    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        margin: auto;
        height: 80%;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .gender-inputs {
        margin-top: 2rem;
    }
    .gender-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .gender-input {
        margin-top: 0.5rem;
    }
}

.modal{
        display: none;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        justify-content: center;
        align-items: center;


}

.input-image{
    width: 300px;
    height: 300px;
}

.bodyModal{
    background-color: #000000f0;
}

.buttonSalvar{
    background: linear-gradient(to bottom, #4F0599, #7A0707) !important;
    color: #fff !important;
    border: none !important;
}

.inputPadrao{
    border: none !important;
    box-shadow: 1px 1px 6px #0000001c !important;
    border-bottom: 1px solid #ccc !important;
    color: white !important;
    background-color: transparent !important;
}
.inputPadrao:focus{
    background-color: #000000f0 !important;
    color: white !important;
}
.corFundo {
    background-color: #0B0B0B;
  }


